@import "./Variables.scss";
@import "./Mixins.scss";

.DesignSection {
  padding:$padding;
  gap:$gap;
  display: grid;
  grid-template-columns: $stageWidth 1fr;
  
  .designCanvas {
    display: block;
    position: relative;
    height: $stageHeight;
    width: $stageWidth;
    margin: auto;
    border: 1px solid gray;
    overflow: hidden;
  }

  .buttonHolder{
    padding: $padding;
    grid-column: 1 / -1;
    background-color: rgba(255, 0, 0, 0.1);
  }

  .designToolbox {
    background-color: rgba(0,0,0,0.1);
    gap: $gap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: $padding;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($thumbWidth, 1fr));
    grid-auto-rows: auto;
    align-content: start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
    .dragHome {
      position: relative;
      border: 1px solid black;
      @include thumbNail;
    }
  }
}

.draggable {
  box-sizing: border-box;
  position: absolute;
  @include thumbNail;
  @include flexCenter;

  img {
    display: block;
    box-sizing: border-box;
    pointer-events: none;
    padding: $padding;
    height: auto;
    width: auto;
    max-height: $thumbHeight;
    max-width: $thumbWidth;
  }
}
